<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>c-how-to-program.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>e-3-3.18.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>e-3.18.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>exercise-3-18.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD5E184F1F3D8CC300076616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD5E185D1F3D91BC00076616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD5E18681F3D91F800076616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD5E18761F3D943D00076616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
